<h1>Choose the values:</h1>
<%= form_with url: update_url, method: :post do |form| %>
  <div><%= form.label :cold_warm, 'Between cold and warm:' %></div>
  <div><%= form.number_field :cold_warm, value: @cold_warm_limit.degrees, step: 0.01 %> °C</div>
  <div><%= form.label :warm_hot, 'Between warm and hot:' %></div>
  <div><%= form.number_field :warm_hot, value: @warm_hot_limit.degrees, step: 0.01 %> °C</div>
  <div><%= form.submit 'Save' %></div>
<% end %>
<%= link_to 'Back', root_path %>
